body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    height: 20%;
    float: left;
    text-align: center;
}
table,tr,td{
    border: 1px solid black;
    position: relative;
}
table{
    margin: auto;
    width: 600px;
    height: 600px;
}
tr,td{
    height: 12.5%;
    width: 12.5%;
    position: relative;
}
tr:nth-child(even) td:nth-child(odd){
    background:rgba(0,0,0,0.6);
}
tr:nth-child(odd) td:nth-child(even){
    background:rgba(0,0,0,0.6);
}
.piece{
    height: 100%;
    width: 100%;
    background-size: 65px;
}